# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/

# Django
*.log
staticfiles/
media/

# React / Node
node_modules/
build/
.npm/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git

#
DATA/

git.ipynb